<form method="post" action="/login"></form>

<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <h2>Log In</h2>

      
      <hr>
      <form method="post" action="/login">

        <fieldset>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">

                <input
                  class="form-control"
                  id="userName"
                  name="userName"
                  type="text"
                  placeholder="User Name"
                  required
                />
              </div>
            </div> 
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">

                <input
                  class="form-control"
                  id="userName"
                  name="password"
                  type="text"
                  placeholder="Password"
                  required
                />
              </div>
            </div>
          </div>
        </fieldset>
        
        <input
          type="submit"
          class="btn btn-Success pull-right"
          value="Login"
        /><br /><br /><br />
      </form>
    </div>
  </div>
</div>